<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Metar Map | Log in</title>
</head>
<body>
    <h1>METAR map</h1>
    <h2>Log in</h2>
    <p>Please log in using the password you were provided with at the time of purchase</p>
    <form method="post">
        <label>Password</label>
        <input type="Password" name="password">
        <button>Log in</button>
        {% if message != '' %}
            <div>{{ message }}</div>
        {% endif %}
    </form>
</body>

</html>