<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Metar Map | Updates</title>
</head>
<body>
    <h1>METAR map</h1>
    <h2>Updates</h2>
    <br>
    <br>
    <p>{{ message }}</p>
    <ul>
    {% for change in change_log %}
        <li>{{ change[0] }} - {{ change[1] }}</li>
    {% endfor %}
    </ul>
    {% if changes  %}
        <form method="get" action="/reboot">
            <button>Reboot</button>
        </form>
    {% else %}
        <a href="/metarmap">Go back</a>
    {% endif %}
</html>